accelerate==1.11.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
audioop-lts==0.2.2
autogen-agentchat==0.7.5
autogen-core==0.7.5
autogen-ext==0.7.5
azure-ai-documentintelligence==1.0.2
azure-core==1.38.2
azure-identity==1.25.2
beautifulsoup4==4.14.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cobble==0.1.4
cryptography==46.0.5
decorator==4.4.2
defusedxml==0.7.1
distro==1.9.0
elevenlabs==2.23.0
et_xmlfile==2.0.0
filelock==3.20.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2025.10.0
greenlet==3.2.4
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
isodate==0.7.2
Jinja2==3.1.6
jiter==0.12.0
jsonref==1.1.0
libsass==0.23.0
lxml==6.0.2
magika==0.6.3
mammoth==1.11.0
Markdown==3.10.2
markdownify==1.2.2
markitdown==0.1.0a4
MarkupSafe==3.0.3
moviepy==1.0.3
mpmath==1.3.0
msal==1.35.1
msal-extensions==1.3.1
multidict==6.7.1
naive==0.0.3
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.4
olefile==0.47
onnxruntime==1.24.3
openai==2.24.0
openpyxl==3.1.5
opentelemetry-api==1.38.0
packaging==25.0
pandas==3.0.1
pdfminer.six==20260107
pillow==11.3.0
playwright==1.56.0
proglog==0.1.12
propcache==0.4.1
protobuf==5.29.5
psutil==7.1.3
pycparser==3.0
pydantic==2.12.4
pydantic_core==2.41.5
pydub==0.25.1
pyee==13.0.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-pptx==1.0.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
safetensors==0.6.2
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
SpeechRecognition==3.14.5
standard-aifc==3.13.0
standard-chunk==3.13.0
sympy==1.14.0
tiktoken==0.12.0
tokenizers==0.22.1
torch==2.9.1
torchaudio==2.9.1
tqdm==4.67.1
transformers==4.57.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
websockets==15.0.1
wheel==0.46.3
xlrd==2.0.2
xlsxwriter==3.2.9
yarl==1.23.0
youtube-transcript-api==1.2.3
yt-dlp==2025.11.12
zipp==3.23.0
